<h1>Convert <%= @first_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.keys.each do |currency| %>
    <li>
      <a href="/<%= @first_currency %>/<%= currency %>">
      Convert 1 <%= @first_currency %> to <%= currency %>... 
      </a>
    </li>
  <% end %>
</ul>
